<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> Welcome User</h1>
    <a href="/CustomerSignUp"> Customer Signup </a>
    <a href="/TheaterSignUp"> Theater Signup </a>
    <h1> {{ message }}</h1>
    <form action="/" method="post">
        <input type="email" name="email" placeholder="Enter Email"><br>
        <input type="password" name="password" placeholder="Enter Password"><br>
        <input type="submit" value="LogIn">
    </form>
</body>
</html>













